body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    transition: background-color 0.3s ease;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar.scroll {
    background-color: #333; /* Change to desired color */
}

.navbar h1 {
    font-size: 1.5em;
    color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff6347; /* Hover color */
}

main {
    padding-top: 100px; /* Add space for the fixed navbar */
}

.section {
    padding: 50px;
    text-align: center;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.section p {
    font-size: 1.2em;
    color: #666;
}
